<h2>Client page</h2>
<br>
<p>Name: <%= @client.name%></p>
<p>Phone: <%= @client.phone%></p>
<p>Date time: <%= @client.datestamp%></p>
<p>Barber: <%= @client.barber%></p>
<p>Color: <%= @client.color%></p>